<article class="listing">
    <img src="{{cat.image}}" alt="">
  <h3>{{cat.name}}</h3>
  <div class="detail type">
    <span>Tipo:</span> {{cat.type}}
  </div>
  <div class="detail city">
    <span>Ciudad:</span> {{cat.city}}
  </div>
</article>

{{yield}}
